
body {
    font-family: "Arial";
}

#header {
    text-align: center;
}

#content {
    text-align: center;
}

#info {
    text-align: left;
    display: inline-block;
}

#response-container {
    text-align: center;
}

#response-input {
    display: none;
}

.arc {
    stroke: #000000;
    stroke-width: 2;
}

.bar {
    fill: white;
    stroke: black;
}

.tick {
    opacity: 0; /* Removes x axis ticks */
}

circle {
    fill: black;
    z-index: 100;
}