body
{
     background-color: #0a282b;

    
}

#main
{
    margin-top: 0;
    padding: 5px;
}

#agreement {
    margin: 0 auto;
    background-color: white;
    text-align: center;
    width: 50%
}

h2
{
    text-align: center;
    color: white
}

#experimentSvg
{
    width: 800px;
    height: 800px;
    margin: 5px auto;
}

.container
{
    margin: 5px auto;
    text-align: center;
}

.center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
}

.hidden
{
    visibility: hidden;
}